EXPO_PUBLIC_FIREBASE_API_KEY=REPLACE_WITH_VALUE
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=REPLACE_WITH_VALUE
EXPO_PUBLIC_FIREBASE_PROJECT_ID=REPLACE_WITH_VALUE
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=REPLACE_WITH_VALUE
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=REPLACE_WITH_VALUE
EXPO_PUBLIC_FIREBASE_APP_ID=REPLACE_WITH_VALUE
EXPO_PUBLIC_FUNCTIONS_BASE_URL=REPLACE_WITH_VALUE
# Set to true when running firebase emulators (auth:9098, firestore:8081)
EXPO_PUBLIC_USE_EMULATORS=false
